# Project List of United States cities by population

## Load Library

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Exploring HTML

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.74 Safari/537.36 Edg/99.0.1150.46'}
Data = requests.get(url, headers)
soup = BeautifulSoup(Data.content , 'html.parser')

In [38]:
tables = soup.find("table", class_="wikitable sortable")
# It will not appear until sorted
#https://stackoverflow.com/questions/48976977/beautifulsoup-cant-extract-a-table-from-wiki

In [75]:
# looking around found that the column headers are under the th tag
tables.select('th')

[<th scope="col">2020<br/>rank
 </th>,
 <th scope="col">City
 </th>,
 <th scope="col">State<sup class="reference" id="cite_ref-5"><a href="#cite_note-5">[c]</a></sup>
 </th>,
 <th scope="col">2020<br/>census
 </th>,
 <th scope="col">2010<br/>census
 </th>,
 <th scope="col">Change
 </th>,
 <th colspan="2" scope="col">2020 land area
 </th>,
 <th colspan="2" scope="col">2020 population density
 </th>,
 <th scope="col">Location
 </th>,
 <th scope="row">1
 </th>,
 <th scope="row">2
 </th>,
 <th scope="row">3
 </th>,
 <th scope="row">4
 </th>,
 <th scope="row">5
 </th>,
 <th scope="row">6
 </th>,
 <th scope="row">7
 </th>,
 <th scope="row">8
 </th>,
 <th scope="row">9
 </th>,
 <th scope="row">10
 </th>,
 <th scope="row">11
 </th>,
 <th scope="row">12
 </th>,
 <th scope="row">13
 </th>,
 <th scope="row">14
 </th>,
 <th scope="row">15
 </th>,
 <th scope="row">16
 </th>,
 <th scope="row">17
 </th>,
 <th scope="row">18
 </th>,
 <th scope="row">19
 </th>,
 <th scope="row">20
 </th>,
 <th scope="row">21
 </th>,
 <th scope="row">22
 </th>,
 <th scope="row">23
 </th>,
 <th scope="row">24
 </th>,
 <th scope="row">25
 </th>,
 <th scope="row">26
 </th>,
 <th scope="row">27
 </th>,
 <th scope="row">28
 </th>,
 <th scope="row">29
 </th>,
 <th scope="row">30
 </th>,
 <th scope="row">31
 </th>,
 <th scope="row">32
 </th>,
 <th scope="row">33
 </th>,
 <th scope="row">34
 </th>,
 <th scope="row">35
 </th>,
 <th scope="row">36
 </th>,
 <th scope="row">37
 </th>,
 <th scope="row">38
 </th>,
 <th scope="row">39
 </th>,
 <th scope="row">40
 </th>,
 <th scope="row">41
 </th>,
 <th scope="row">42
 </th>,
 <th scope="row">43
 </th>,
 <th scope="row">44
 </th>,
 <th scope="row">45
 </th>,
 <th scope="row">46
 </th>,
 <th scope="row">47
 </th>,
 <th scope="row">48
 </th>,
 <th scope="row">49
 </th>,
 <th scope="row">50
 </th>,
 <th scope="row">51
 </th>,
 <th scope="row">52
 </th>,
 <th scope="row">53
 </th>,
 <th scope="row">54
 </th>,
 <th scope="row">55
 </th>,
 <th scope="row">56
 </th>,
 <th scope="row">57
 </th>,
 <th scope="row">58
 </th>,
 <th scope="row">59
 </th>,
 <th scope="row">60
 </th>,
 <th scope="row">61
 </th>,
 <th scope="row">62
 </th>,
 <th scope="row">63
 </th>,
 <th scope="row">64
 </th>,
 <th scope="row">65
 </th>,
 <th scope="row">66
 </th>,
 <th scope="row">67
 </th>,
 <th scope="row">68
 </th>,
 <th scope="row">69
 </th>,
 <th scope="row">70
 </th>,
 <th scope="row">71
 </th>,
 <th scope="row">72
 </th>,
 <th scope="row">73
 </th>,
 <th scope="row">74
 </th>,
 <th scope="row">75
 </th>,
 <th scope="row">76
 </th>,
 <th scope="row">77
 </th>,
 <th scope="row">78
 </th>,
 <th scope="row">79
 </th>,
 <th scope="row">80
 </th>,
 <th scope="row">81
 </th>,
 <th scope="row">82
 </th>,
 <th scope="row">83
 </th>,
 <th scope="row">84
 </th>,
 <th scope="row">85
 </th>,
 <th scope="row">86
 </th>,
 <th scope="row">87
 </th>,
 <th scope="row">88
 </th>,
 <th scope="row">89
 </th>,
 <th scope="row">90
 </th>,
 <th scope="row">91
 </th>,
 <th scope="row">92
 </th>,
 <th scope="row">93
 </th>,
 <th scope="row">94
 </th>,
 <th scope="row">95
 </th>,
 <th scope="row">96
 </th>,
 <th scope="row">97
 </th>,
 <th scope="row">98
 </th>,
 <th scope="row">99
 </th>,
 <th scope="row">100
 </th>,
 <th scope="row">101
 </th>,
 <th scope="row">102
 </th>,
 <th scope="row">103
 </th>,
 <th scope="row">104
 </th>,
 <th scope="row">105
 </th>,
 <th scope="row">106
 </th>,
 <th scope="row">107
 </th>,
 <th scope="row">108
 </th>,
 <th scope="row">109
 </th>,
 <th scope="row">110
 </th>,
 <th scope="row">111
 </th>,
 <th scope="row">112
 </th>,
 <th scope="row">113
 </th>,
 <th scope="row">114
 </th>,
 <th scope="row">115
 </th>,
 <th scope="row">116
 </th>,
 <th scope="row">117
 </th>,
 <th scope="row">118
 </th>,
 <th scope="row">119
 </th>,
 <th scope="row">120
 </th>,
 <th scope="row">121
 </th>,
 <th scope="row">122
 </th>,
 <th scope="row">123
 </th>,
 <th scope="row">124
 </th>,
 <th scope="row">125
 </th>,
 <th scope="row">126
 </th>,
 <th scope="row">127
 </th>,
 <th scope="row">128
 </th>,
 <th scope="row">129
 </th>,
 <th scope="row">130
 </th>,
 <th scope="row">131
 </th>,
 <th scope="row">132
 </th>,
 <th scope="row">133
 </th>,
 <th scope="row">134
 </th>,
 <th scope="row">135
 </th>,
 <th scope="row">136
 </th>,
 <th scope="row">137
 </th>,
 <th scope="row">138
 </th>,
 <th scope="row">139
 </th>,
 <th scope="row">140
 </th>,
 <th scope="row">141
 </th>,
 <th scope="row">142
 </th>,
 <th scope="row">143
 </th>,
 <th scope="row">144
 </th>,
 <th scope="row">145
 </th>,
 <th scope="row">146
 </th>,
 <th scope="row">147
 </th>,
 <th scope="row">148
 </th>,
 <th scope="row">149
 </th>,
 <th scope="row">150
 </th>,
 <th scope="row">151
 </th>,
 <th scope="row">152
 </th>,
 <th scope="row">153
 </th>,
 <th scope="row">154
 </th>,
 <th scope="row">155
 </th>,
 <th scope="row">156
 </th>,
 <th scope="row">157
 </th>,
 <th scope="row">158
 </th>,
 <th scope="row">159
 </th>,
 <th scope="row">160
 </th>,
 <th scope="row">161
 </th>,
 <th scope="row">162
 </th>,
 <th scope="row">163
 </th>,
 <th scope="row">164
 </th>,
 <th scope="row">165
 </th>,
 <th scope="row">166
 </th>,
 <th scope="row">167
 </th>,
 <th scope="row">168
 </th>,
 <th scope="row">169
 </th>,
 <th scope="row">170
 </th>,
 <th scope="row">171
 </th>,
 <th scope="row">172
 </th>,
 <th scope="row">173
 </th>,
 <th scope="row">174
 </th>,
 <th scope="row">175
 </th>,
 <th scope="row">176
 </th>,
 <th scope="row">177
 </th>,
 <th scope="row">178
 </th>,
 <th scope="row">179
 </th>,
 <th scope="row">180
 </th>,
 <th scope="row">181
 </th>,
 <th scope="row">182
 </th>,
 <th scope="row">183
 </th>,
 <th scope="row">184
 </th>,
 <th scope="row">185
 </th>,
 <th scope="row">186
 </th>,
 <th scope="row">187
 </th>,
 <th scope="row">188
 </th>,
 <th scope="row">189
 </th>,
 <th scope="row">190
 </th>,
 <th scope="row">191
 </th>,
 <th scope="row">192
 </th>,
 <th scope="row">193
 </th>,
 <th scope="row">194
 </th>,
 <th scope="row">195
 </th>,
 <th scope="row">196
 </th>,
 <th scope="row">197
 </th>,
 <th scope="row">198
 </th>,
 <th scope="row">199
 </th>,
 <th scope="row">200
 </th>,
 <th scope="row">201
 </th>,
 <th scope="row">202
 </th>,
 <th scope="row">203
 </th>,
 <th scope="row">204
 </th>,
 <th scope="row">205
 </th>,
 <th scope="row">206
 </th>,
 <th scope="row">207
 </th>,
 <th scope="row">208
 </th>,
 <th scope="row">209
 </th>,
 <th scope="row">210
 </th>,
 <th scope="row">211
 </th>,
 <th scope="row">212
 </th>,
 <th scope="row">213
 </th>,
 <th scope="row">214
 </th>,
 <th scope="row">215
 </th>,
 <th scope="row">216
 </th>,
 <th scope="row">217
 </th>,
 <th scope="row">218
 </th>,
 <th scope="row">219
 </th>,
 <th scope="row">220
 </th>,
 <th scope="row">221
 </th>,
 <th scope="row">222
 </th>,
 <th scope="row">223
 </th>,
 <th scope="row">224
 </th>,
 <th scope="row">225
 </th>,
 <th scope="row">226
 </th>,
 <th scope="row">227
 </th>,
 <th scope="row">228
 </th>,
 <th scope="row">229
 </th>,
 <th scope="row">230
 </th>,
 <th scope="row">231
 </th>,
 <th scope="row">232
 </th>,
 <th scope="row">233
 </th>,
 <th scope="row">234
 </th>,
 <th scope="row">235
 </th>,
 <th scope="row">236
 </th>,
 <th scope="row">237
 </th>,
 <th scope="row">238
 </th>,
 <th scope="row">239
 </th>,
 <th scope="row">240
 </th>,
 <th scope="row">241
 </th>,
 <th scope="row">242
 </th>,
 <th scope="row">243
 </th>,
 <th scope="row">244
 </th>,
 <th scope="row">245
 </th>,
 <th scope="row">246
 </th>,
 <th scope="row">247
 </th>,
 <th scope="row">248
 </th>,
 <th scope="row">249
 </th>,
 <th scope="row">250
 </th>,
 <th scope="row">251
 </th>,
 <th scope="row">252
 </th>,
 <th scope="row">253
 </th>,
 <th scope="row">254
 </th>,
 <th scope="row">255
 </th>,
 <th scope="row">256
 </th>,
 <th scope="row">257
 </th>,
 <th scope="row">258
 </th>,
 <th scope="row">259
 </th>,
 <th scope="row">260
 </th>,
 <th scope="row">261
 </th>,
 <th scope="row">262
 </th>,
 <th scope="row">263
 </th>,
 <th scope="row">264
 </th>,
 <th scope="row">265
 </th>,
 <th scope="row">266
 </th>,
 <th scope="row">267
 </th>,
 <th scope="row">268
 </th>,
 <th scope="row">269
 </th>,
 <th scope="row">270
 </th>,
 <th scope="row">271
 </th>,
 <th scope="row">272
 </th>,
 <th scope="row">273
 </th>,
 <th scope="row">274
 </th>,
 <th scope="row">275
 </th>,
 <th scope="row">276
 </th>,
 <th scope="row">277
 </th>,
 <th scope="row">278
 </th>,
 <th scope="row">279
 </th>,
 <th scope="row">280
 </th>,
 <th scope="row">281
 </th>,
 <th scope="row">282
 </th>,
 <th scope="row">283
 </th>,
 <th scope="row">284
 </th>,
 <th scope="row">285
 </th>,
 <th scope="row">286
 </th>,
 <th scope="row">287
 </th>,
 <th scope="row">288
 </th>,
 <th scope="row">289
 </th>,
 <th scope="row">290
 </th>,
 <th scope="row">291
 </th>,
 <th scope="row">292
 </th>,
 <th scope="row">293
 </th>,
 <th scope="row">294
 </th>,
 <th scope="row">295
 </th>,
 <th scope="row">296
 </th>,
 <th scope="row">297
 </th>,
 <th scope="row">298
 </th>,
 <th scope="row">299
 </th>,
 <th scope="row">300
 </th>,
 <th scope="row">301
 </th>,
 <th scope="row">302
 </th>,
 <th scope="row">303
 </th>,
 <th scope="row">304
 </th>,
 <th scope="row">305
 </th>,
 <th scope="row">306
 </th>,
 <th scope="row">307
 </th>,
 <th scope="row">308
 </th>,
 <th scope="row">309
 </th>,
 <th scope="row">310
 </th>,
 <th scope="row">311
 </th>,
 <th scope="row">312
 </th>,
 <th scope="row">313
 </th>,
 <th scope="row">314
 </th>,
 <th scope="row">315
 </th>,
 <th scope="row">316
 </th>,
 <th scope="row">317
 </th>,
 <th scope="row">318
 </th>,
 <th scope="row">319
 </th>,
 <th scope="row">320
 </th>,
 <th scope="row">321
 </th>,
 <th scope="row">322
 </th>,
 <th scope="row">323
 </th>,
 <th scope="row">324
 </th>,
 <th scope="row">325
 </th>,
 <th scope="row">326
 </th>]

In [80]:
# all the individual data in the table
items = tables.select('tbody tr td')

In [81]:
infos = [pt.get_text() for pt in items]
infos

['New York[d]\n',
 'New York\n',
 '8,804,190\n',
 '8,175,133\n',
 '+7.69%\n',
 '300.5\xa0sq\xa0mi\n',
 '778.3\xa0km2\n',
 '29,298/sq\xa0mi\n',
 '11,312/km2\n',
 '40°40′N 73°56′W\ufeff / \ufeff40.66°N 73.93°W\ufeff / 40.66; -73.93\ufeff (1 New York City)\n',
 'Los Angeles\n',
 'California\n',
 '3,898,747\n',
 '3,792,621\n',
 '+2.80%\n',
 '469.5\xa0sq\xa0mi\n',
 '1,216.0\xa0km2\n',
 '8,304/sq\xa0mi\n',
 '3,206/km2\n',
 '34°01′N 118°25′W\ufeff / \ufeff34.01°N 118.41°W\ufeff / 34.01; -118.41\ufeff (2 Los Angeles)\n',
 'Chicago\n',
 'Illinois\n',
 '2,746,388\n',
 '2,695,598\n',
 '+1.88%\n',
 '227.7\xa0sq\xa0mi\n',
 '589.7\xa0km2\n',
 '12,061/sq\xa0mi\n',
 '4,657/km2\n',
 '41°50′N 87°41′W\ufeff / \ufeff41.83°N 87.68°W\ufeff / 41.83; -87.68\ufeff (3 Chicago)\n',
 'Houston\n',
 'Texas\n',
 '2,304,580\n',
 '2,099,451\n',
 '+9.77%\n',
 '640.4\xa0sq\xa0mi\n',
 '1,658.6\xa0km2\n',
 '3,599/sq\xa0mi\n',
 '1,390/km2\n',
 '29°47′N 95°23′W\ufeff / \ufeff29.78°N 95.39°W\ufeff / 29.78; -95.39\ufeff (4 Houston)\n',
 'Phoenix\n',
 'Arizona\n',
 '1,608,139\n',
 '1,445,632\n',
 '+11.24%\n',
 '518.0\xa0sq\xa0mi\n',
 '1,341.6\xa0km2\n',
 '3,105/sq\xa0mi\n',
 '1,199/km2\n',
 '33°34′N 112°05′W\ufeff / \ufeff33.57°N 112.09°W\ufeff / 33.57; -112.09\ufeff (6 Phoenix)\n',
 'Philadelphia[e]\n',
 'Pennsylvania\n',
 '1,603,797\n',
 '1,526,006\n',
 '+5.10%\n',
 '134.4\xa0sq\xa0mi\n',
 '348.1\xa0km2\n',
 '11,933/sq\xa0mi\n',
 '4,607/km2\n',
 '40°00′N 75°08′W\ufeff / \ufeff40.00°N 75.13°W\ufeff / 40.00; -75.13\ufeff (5 Philadelphia)\n',
 'San Antonio\n',
 'Texas\n',
 '1,434,625\n',
 '1,327,407\n',
 '+8.08%\n',
 '498.8\xa0sq\xa0mi\n',
 '1,291.9\xa0km2\n',
 '2,876/sq\xa0mi\n',
 '1,110/km2\n',
 '29°28′N 98°31′W\ufeff / \ufeff29.47°N 98.52°W\ufeff / 29.47; -98.52\ufeff (7 San Antonio)\n',
 'San Diego\n',
 'California\n',
 '1,386,932\n',
 '1,307,402\n',
 '+6.08%\n',
 '325.9\xa0sq\xa0mi\n',
 '844.1\xa0km2\n',
 '4,256/sq\xa0mi\n',
 '1,643/km2\n',
 '32°49′N 117°08′W\ufeff / \ufeff32.81°N 117.13°W\ufeff / 32.81; -117.13\ufeff (8 San Diego)\n',
 'Dallas\n',
 'Texas\n',
 '1,304,379\n',
 '1,197,816\n',
 '+8.90%\n',
 '339.6\xa0sq\xa0mi\n',
 '879.6\xa0km2\n',
 '3,841/sq\xa0mi\n',
 '1,483/km2\n',
 '32°47′N 96°46′W\ufeff / \ufeff32.79°N 96.76°W\ufeff / 32.79; -96.76\ufeff (9 Dallas)\n',
 'San Jose\n',
 'California\n',
 '1,013,240\n',
 '945,942\n',
 '+7.11%\n',
 '178.3\xa0sq\xa0mi\n',
 '461.8\xa0km2\n',
 '5,683/sq\xa0mi\n',
 '2,194/km2\n',
 '37°17′N 121°49′W\ufeff / \ufeff37.29°N 121.81°W\ufeff / 37.29; -121.81\ufeff (10 San Jose)\n',
 'Austin\n',
 'Texas\n',
 '961,855\n',
 '790,390\n',
 '+21.69%\n',
 '319.9\xa0sq\xa0mi\n',
 '828.5\xa0km2\n',
 '3,007/sq\xa0mi\n',
 '1,161/km2\n',
 '30°18′N 97°45′W\ufeff / \ufeff30.30°N 97.75°W\ufeff / 30.30; -97.75\ufeff (11 Austin)\n',
 'Jacksonville[f]\n',
 'Florida\n',
 '949,611\n',
 '821,784\n',
 '+15.55%\n',
 '747.3\xa0sq\xa0mi\n',
 '1,935.5\xa0km2\n',
 '1,271/sq\xa0mi\n',
 '491/km2\n',
 '30°20′N 81°40′W\ufeff / \ufeff30.33°N 81.66°W\ufeff / 30.33; -81.66\ufeff (12 Jacksonville)\n',
 'Fort Worth\n',
 'Texas\n',
 '918,915\n',
 '741,206\n',
 '+23.98%\n',
 '342.9\xa0sq\xa0mi\n',
 '888.1\xa0km2\n',
 '2,646/sq\xa0mi\n',
 '1,022/km2\n',
 '32°47′N 97°20′W\ufeff / \ufeff32.78°N 97.34°W\ufeff / 32.78; -97.34\ufeff (16 Fort Worth)\n',
 'Columbus\n',
 'Ohio\n',
 '905,748\n',
 '787,033\n',
 '+15.08%\n',
 '220.0\xa0sq\xa0mi\n',
 '569.8\xa0km2\n',
 '4,117/sq\xa0mi\n',
 '1,590/km2\n',
 '39°59′N 82°59′W\ufeff / \ufeff39.98°N 82.98°W\ufeff / 39.98; -82.98\ufeff (15 Columbus)\n',
 'Indianapolis[g]\n',
 'Indiana\n',
 '887,642\n',
 '820,445\n',
 '+8.19%\n',
 '361.6\xa0sq\xa0mi\n',
 '936.5\xa0km2\n',
 '2,455/sq\xa0mi\n',
 '948/km2\n',
 '39°46′N 86°08′W\ufeff / \ufeff39.77°N 86.14°W\ufeff / 39.77; -86.14\ufeff (14 Indianapolis)\n',
 'Charlotte\n',
 'North Carolina\n',
 '874,579\n',
 '731,424\n',
 '+19.57%\n',
 '308.3\xa0sq\xa0mi\n',
 '798.5\xa0km2\n',
 '2,837/sq\xa0mi\n',
 '1,095/km2\n',
 '35°12′N 80°50′W\ufeff / \ufeff35.20°N 80.83°W\ufeff / 35.20; -80.83\ufeff (17 Charlotte)\n',
 'San Francisco[h]\n',
 'California\n',
 '873,965\n',
 '805,235\n',
 '+8.54%\n',
 '46.9\xa0sq\xa0mi\n',
 '121.5\xa0km2\n',
 '18,635/sq\xa0mi\n',
 '7,195/km2\n',
 '37°43′N 123°02′W\ufeff / \ufeff37.72°N 123.03°W\ufeff / 37.72; -123.03\ufeff (13 San Francisco)\n',
 'Seattle\n',
 'Washington\n',
 '737,015\n',
 '608,660\n',
 '+21.09%\n',
 '83.8\xa0sq\xa0mi\n',
 '217.0\xa0km2\n',
 '8,795/sq\xa0mi\n',
 '3,396/km2\n',
 '47°37′N 122°21′W\ufeff / \ufeff47.62°N 122.35°W\ufeff / 47.62; -122.35\ufeff (20 Seattle)\n',
 'Denver[i]\n',
 'Colorado\n',
 '715,522\n',
 '600,158\n',
 '+19.22%\n',
 '153.1\xa0sq\xa0mi\n',
 '396.5\xa0km2\n',
 '4,674/sq\xa0mi\n',
 '1,805/km2\n',
 '39°46′N 104°53′W\ufeff / \ufeff39.76°N 104.88°W\ufeff / 39.76; -104.88\ufeff (Denver)\n',
 'Washington[j]\n',
 'District of Columbia\n',
 '689,545\n',
 '601,723\n',
 '+14.60%\n',
 '61.1\xa0sq\xa0mi\n',
 '158.2\xa0km2\n',
 '11,286/sq\xa0mi\n',
 '4,358/km2\n',
 '38°54′N 77°01′W\ufeff / \ufeff38.90°N 77.01°W\ufeff / 38.90; -77.01\ufeff (Washington, D.C.)\n',
 'Nashville[k]\n',
 'Tennessee\n',
 '689,447\n',
 '601,222\n',
 '+14.67%\n',
 '475.8\xa0sq\xa0mi\n',
 '1,232.3\xa0km2\n',
 '1,449/sq\xa0mi\n',
 '559/km2\n',
 '36°10′N 86°47′W\ufeff / \ufeff36.17°N 86.78°W\ufeff / 36.17; -86.78\ufeff (Nashville)\n',
 'Oklahoma City\n',
 'Oklahoma\n',
 '681,054\n',
 '579,999\n',
 '+17.42%\n',
 '606.2\xa0sq\xa0mi\n',
 '1,570.1\xa0km2\n',
 '1,123/sq\xa0mi\n',
 '434/km2\n',
 '35°28′N 97°31′W\ufeff / \ufeff35.46°N 97.51°W\ufeff / 35.46; -97.51\ufeff (Oklahoma City)\n',
 'El Paso\n',
 'Texas\n',
 '678,815\n',
 '649,121\n',
 '+4.57%\n',
 '258.4\xa0sq\xa0mi\n',
 '669.3\xa0km2\n',
 '2,627/sq\xa0mi\n',
 '1,014/km2\n',
 '31°50′N 106°25′W\ufeff / \ufeff31.84°N 106.42°W\ufeff / 31.84; -106.42\ufeff (19 El Paso)\n',
 'Boston\n',
 'Massachusetts\n',
 '675,647\n',
 '617,594\n',
 '+9.40%\n',
 '48.3\xa0sq\xa0mi\n',
 '125.1\xa0km2\n',
 '13,989/sq\xa0mi\n',
 '5,401/km2\n',
 '42°20′N 71°01′W\ufeff / \ufeff42.33°N 71.02°W\ufeff / 42.33; -71.02\ufeff (Boston)\n',
 'Portland\n',
 'Oregon\n',
 '652,503\n',
 '583,776\n',
 '+11.77%\n',
 '133.5\xa0sq\xa0mi\n',
 '345.8\xa0km2\n',
 '4,888/sq\xa0mi\n',
 '1,887/km2\n',
 '45°32′N 122°39′W\ufeff / \ufeff45.53°N 122.65°W\ufeff / 45.53; -122.65\ufeff (Portland)\n',
 'Las Vegas\n',
 'Nevada\n',
 '641,903\n',
 '583,756\n',
 '+9.96%\n',
 '141.8\xa0sq\xa0mi\n',
 '367.3\xa0km2\n',
 '4,527/sq\xa0mi\n',
 '1,748/km2\n',
 '36°13′N 115°16′W\ufeff / \ufeff36.22°N 115.26°W\ufeff / 36.22; -115.26\ufeff (Las Vegas)\n',
 'Detroit\n',
 'Michigan\n',
 '639,111\n',
 '713,777\n',
 '−10.46%\n',
 '138.7\xa0sq\xa0mi\n',
 '359.2\xa0km2\n',
 '4,608/sq\xa0mi\n',
 '1,779/km2\n',
 '42°23′N 83°06′W\ufeff / \ufeff42.38°N 83.10°W\ufeff / 42.38; -83.10\ufeff (18 Detroit)\n',
 'Memphis\n',
 'Tennessee\n',
 '633,104\n',
 '646,889\n',
 '−2.13%\n',
 '297.0\xa0sq\xa0mi\n',
 '769.2\xa0km2\n',
 '2,132/sq\xa0mi\n',
 '823/km2\n',
 '35°06′N 89°58′W\ufeff / \ufeff35.10°N 89.97°W\ufeff / 35.10; -89.97\ufeff (Memphis)\n',
 'Louisville[l]\n',
 'Kentucky\n',
 '633,045\n',
 '597,337\n',
 '+5.98%\n',
 '263.5\xa0sq\xa0mi\n',
 '682.5\xa0km2\n',
 '2,402/sq\xa0mi\n',
 '927/km2\n',
 '38°10′N 85°38′W\ufeff / \ufeff38.16°N 85.64°W\ufeff / 38.16; -85.64\ufeff (Louisville)\n',
 'Baltimore[m]\n',
 'Maryland\n',
 '585,708\n',
 '620,961\n',
 '−5.68%\n',
 '80.9\xa0sq\xa0mi\n',
 '209.5\xa0km2\n',
 '7,240/sq\xa0mi\n',
 '2,800/km2\n',
 '39°18′N 76°37′W\ufeff / \ufeff39.30°N 76.61°W\ufeff / 39.30; -76.61\ufeff (Baltimore)\n',
 'Milwaukee\n',
 'Wisconsin\n',
 '577,222\n',
 '594,833\n',
 '−2.96%\n',
 '96.2\xa0sq\xa0mi\n',
 '249.2\xa0km2\n',
 '6,000/sq\xa0mi\n',
 '2,300/km2\n',
 '43°04′N 87°58′W\ufeff / \ufeff43.06°N 87.96°W\ufeff / 43.06; -87.96\ufeff (Milwaukee)\n',
 'Albuquerque\n',
 'New Mexico\n',
 '564,559\n',
 '545,852\n',
 '+3.43%\n',
 '187.3\xa0sq\xa0mi\n',
 '485.1\xa0km2\n',
 '3,014/sq\xa0mi\n',
 '1,164/km2\n',
 '35°06′N 106°38′W\ufeff / \ufeff35.10°N 106.64°W\ufeff / 35.10; -106.64\ufeff (Albuquerque)\n',
 'Tucson\n',
 'Arizona\n',
 '542,629\n',
 '520,116\n',
 '+4.33%\n',
 '241.0\xa0sq\xa0mi\n',
 '624.2\xa0km2\n',
 '2,252/sq\xa0mi\n',
 '870/km2\n',
 '32°09′N 110°52′W\ufeff / \ufeff32.15°N 110.87°W\ufeff / 32.15; -110.87\ufeff (Tucson)\n',
 'Fresno\n',
 'California\n',
 '542,107\n',
 '494,665\n',
 '+9.59%\n',
 '115.2\xa0sq\xa0mi\n',
 '298.4\xa0km2\n',
 '4,706/sq\xa0mi\n',
 '1,817/km2\n',
 '36°47′N 119°47′W\ufeff / \ufeff36.78°N 119.79°W\ufeff / 36.78; -119.79\ufeff (Fresno)\n',
 'Sacramento\n',
 'California\n',
 '524,943\n',
 '466,488\n',
 '+12.53%\n',
 '98.6\xa0sq\xa0mi\n',
 '255.4\xa0km2\n',
 '5,324/sq\xa0mi\n',
 '2,056/km2\n',
 '38°34′N 121°28′W\ufeff / \ufeff38.56°N 121.46°W\ufeff / 38.56; -121.46\ufeff (Sacramento)\n',
 'Kansas City\n',
 'Missouri\n',
 '508,090\n',
 '459,787\n',
 '+10.51%\n',
 '314.7\xa0sq\xa0mi\n',
 '815.1\xa0km2\n',
 '1,615/sq\xa0mi\n',
 '624/km2\n',
 '39°07′N 94°33′W\ufeff / \ufeff39.12°N 94.55°W\ufeff / 39.12; -94.55\ufeff (Kansas City, MO)\n',
 'Mesa\n',
 'Arizona\n',
 '504,258\n',
 '439,041\n',
 '+14.85%\n',
 '138.7\xa0sq\xa0mi\n',
 '359.2\xa0km2\n',
 '3,636/sq\xa0mi\n',
 '1,404/km2\n',
 '33°24′N 111°43′W\ufeff / \ufeff33.40°N 111.71°W\ufeff / 33.40; -111.71\ufeff (Mesa)\n',
 'Atlanta\n',
 'Georgia\n',
 '498,715\n',
 '420,003\n',
 '+18.74%\n',
 '135.3\xa0sq\xa0mi\n',
 '350.4\xa0km2\n',
 '3,686/sq\xa0mi\n',
 '1,423/km2\n',
 '33°46′N 84°25′W\ufeff / \ufeff33.76°N 84.42°W\ufeff / 33.76; -84.42\ufeff (Atlanta)\n',
 'Omaha\n',
 'Nebraska\n',
 '486,051\n',
 '408,958\n',
 '+18.85%\n',
 '133.2\xa0sq\xa0mi\n',
 '345.0\xa0km2\n',
 '3,433/sq\xa0mi\n',
 '1,325/km2\n',
 '41°16′N 96°02′W\ufeff / \ufeff41.26°N 96.04°W\ufeff / 41.26; -96.04\ufeff (Omaha)\n',
 'Colorado Springs\n',
 'Colorado\n',
 '478,961\n',
 '416,427\n',
 '+15.02%\n',
 '195.4\xa0sq\xa0mi\n',
 '506.1\xa0km2\n',
 '2,451/sq\xa0mi\n',
 '946/km2\n',
 '38°52′N 104°46′W\ufeff / \ufeff38.86°N 104.76°W\ufeff / 38.86; -104.76\ufeff (Colorado Springs)\n',
 'Raleigh\n',
 'North Carolina\n',
 '467,665\n',
 '403,892\n',
 '+15.79%\n',
 '145.1\xa0sq\xa0mi\n',
 '375.8\xa0km2\n',
 '3,179/sq\xa0mi\n',
 '1,227/km2\n',
 '35°50′N 78°38′W\ufeff / \ufeff35.83°N 78.64°W\ufeff / 35.83; -78.64\ufeff (Raleigh)\n',
 'Long Beach\n',
 'California\n',
 '466,742\n',
 '462,257\n',
 '+0.97%\n',
 '50.7\xa0sq\xa0mi\n',
 '131.3\xa0km2\n',
 '9,206/sq\xa0mi\n',
 '3,554/km2\n',
 '33°48′N 118°09′W\ufeff / \ufeff33.80°N 118.15°W\ufeff / 33.80; -118.15\ufeff (Long Beach)\n',
 'Virginia Beach[m]\n',
 'Virginia\n',
 '459,470\n',
 '437,994\n',
 '+4.90%\n',
 '244.7\xa0sq\xa0mi\n',
 '633.8\xa0km2\n',
 '1,878/sq\xa0mi\n',
 '725/km2\n',
 '36°47′N 76°01′W\ufeff / \ufeff36.78°N 76.02°W\ufeff / 36.78; -76.02\ufeff (Virginia Beach)\n',
 'Miami\n',
 'Florida\n',
 '442,241\n',
 '399,457\n',
 '+10.71%\n',
 '36.0\xa0sq\xa0mi\n',
 '93.2\xa0km2\n',
 '12,284/sq\xa0mi\n',
 '4,743/km2\n',
 '25°46′N 80°12′W\ufeff / \ufeff25.77°N 80.20°W\ufeff / 25.77; -80.20\ufeff (Miami)\n',
 'Oakland\n',
 'California\n',
 '440,646\n',
 '390,724\n',
 '+12.78%\n',
 '55.9\xa0sq\xa0mi\n',
 '144.8\xa0km2\n',
 '7,883/sq\xa0mi\n',
 '3,044/km2\n',
 '37°46′N 122°13′W\ufeff / \ufeff37.76°N 122.22°W\ufeff / 37.76; -122.22\ufeff (Oakland)\n',
 'Minneapolis\n',
 'Minnesota\n',
 '429,954\n',
 '382,578\n',
 '+12.38%\n',
 '54.0\xa0sq\xa0mi\n',
 '139.9\xa0km2\n',
 '7,962/sq\xa0mi\n',
 '3,074/km2\n',
 '44°58′N 93°16′W\ufeff / \ufeff44.96°N 93.26°W\ufeff / 44.96; -93.26\ufeff (Minneapolis)\n',
 'Tulsa\n',
 'Oklahoma\n',
 '413,066\n',
 '391,906\n',
 '+5.40%\n',
 '197.5\xa0sq\xa0mi\n',
 '511.5\xa0km2\n',
 '2,091/sq\xa0mi\n',
 '807/km2\n',
 '36°07′N 95°54′W\ufeff / \ufeff36.12°N 95.90°W\ufeff / 36.12; -95.90\ufeff (Tulsa)\n',
 'Bakersfield\n',
 'California\n',
 '403,455\n',
 '347,483\n',
 '+16.11%\n',
 '149.8\xa0sq\xa0mi\n',
 '388.0\xa0km2\n',
 '2,693/sq\xa0mi\n',
 '1,040/km2\n',
 '35°19′N 119°01′W\ufeff / \ufeff35.32°N 119.01°W\ufeff / 35.32; -119.01\ufeff (Bakersfield)\n',
 'Wichita\n',
 'Kansas\n',
 '397,532\n',
 '382,368\n',
 '+3.97%\n',
 '162.0\xa0sq\xa0mi\n',
 '419.6\xa0km2\n',
 '2,454/sq\xa0mi\n',
 '947/km2\n',
 '37°41′N 97°20′W\ufeff / \ufeff37.69°N 97.34°W\ufeff / 37.69; -97.34\ufeff (Wichita)\n',
 'Arlington\n',
 'Texas\n',
 '394,266\n',
 '365,438\n',
 '+7.89%\n',
 '95.9\xa0sq\xa0mi\n',
 '248.4\xa0km2\n',
 '4,111/sq\xa0mi\n',
 '1,587/km2\n',
 '32°42′N 97°07′W\ufeff / \ufeff32.70°N 97.12°W\ufeff / 32.70; -97.12\ufeff (Arlington)\n',
 'Aurora\n',
 'Colorado\n',
 '386,261\n',
 '325,078\n',
 '+18.82%\n',
 '160.1\xa0sq\xa0mi\n',
 '414.7\xa0km2\n',
 '2,413/sq\xa0mi\n',
 '932/km2\n',
 '39°41′N 104°41′W\ufeff / \ufeff39.68°N 104.68°W\ufeff / 39.68; -104.68\ufeff (Aurora)\n',
 'Tampa\n',
 'Florida\n',
 '384,959\n',
 '335,709\n',
 '+14.67%\n',
 '114.0\xa0sq\xa0mi\n',
 '295.3\xa0km2\n',
 '3,377/sq\xa0mi\n',
 '1,304/km2\n',
 '27°58′N 82°28′W\ufeff / \ufeff27.97°N 82.47°W\ufeff / 27.97; -82.47\ufeff (Tampa)\n',
 'New Orleans[n]\n',
 'Louisiana\n',
 '383,997\n',
 '343,829\n',
 '+11.68%\n',
 '169.5\xa0sq\xa0mi\n',
 '439.0\xa0km2\n',
 '2,265/sq\xa0mi\n',
 '875/km2\n',
 '30°03′N 89°56′W\ufeff / \ufeff30.05°N 89.93°W\ufeff / 30.05; -89.93\ufeff (New Orleans)\n',
 'Cleveland\n',
 'Ohio\n',
 '372,624\n',
 '396,815\n',
 '−6.10%\n',
 '77.7\xa0sq\xa0mi\n',
 '201.2\xa0km2\n',
 '4,796/sq\xa0mi\n',
 '1,852/km2\n',
 '41°28′N 81°40′W\ufeff / \ufeff41.47°N 81.67°W\ufeff / 41.47; -81.67\ufeff (Cleveland)\n',
 'Honolulu[o]\n',
 'Hawaii\n',
 '350,964\n',
 '337,256\n',
 '+4.06%\n',
 '60.5\xa0sq\xa0mi\n',
 '156.7\xa0km2\n',
 '5,801/sq\xa0mi\n',
 '2,240/km2\n',
 '21°19′N 157°50′W\ufeff / \ufeff21.32°N 157.84°W\ufeff / 21.32; -157.84\ufeff (Honolulu)\n',
 'Anaheim\n',
 'California\n',
 '346,824\n',
 '336,265\n',
 '+3.14%\n',
 '50.3\xa0sq\xa0mi\n',
 '130.3\xa0km2\n',
 '6,895/sq\xa0mi\n',
 '2,662/km2\n',
 '33°51′N 117°46′W\ufeff / \ufeff33.85°N 117.76°W\ufeff / 33.85; -117.76\ufeff (Anaheim)\n',
 'Lexington[p]\n',
 'Kentucky\n',
 '322,570\n',
 '295,803\n',
 '+9.05%\n',
 '283.6\xa0sq\xa0mi\n',
 '734.5\xa0km2\n',
 '1,137/sq\xa0mi\n',
 '439/km2\n',
 '38°02′N 84°27′W\ufeff / \ufeff38.04°N 84.45°W\ufeff / 38.04; -84.45\ufeff (Lexington)\n',
 'Stockton\n',
 'California\n',
 '320,804\n',
 '291,707\n',
 '+9.97%\n',
 '62.2\xa0sq\xa0mi\n',
 '161.1\xa0km2\n',
 '5,158/sq\xa0mi\n',
 '1,992/km2\n',
 '37°58′N 121°19′W\ufeff / \ufeff37.97°N 121.31°W\ufeff / 37.97; -121.31\ufeff (Stockton)\n',
 'Corpus Christi\n',
 'Texas\n',
 '317,863\n',
 '305,215\n',
 '+4.14%\n',
 '162.2\xa0sq\xa0mi\n',
 '420.1\xa0km2\n',
 '1,960/sq\xa0mi\n',
 '760/km2\n',
 '27°45′N 97°10′W\ufeff / \ufeff27.75°N 97.17°W\ufeff / 27.75; -97.17\ufeff (Corpus Christi)\n',
 'Henderson\n',
 'Nevada\n',
 '317,610\n',
 '257,729\n',
 '+23.23%\n',
 '106.2\xa0sq\xa0mi\n',
 '275.1\xa0km2\n',
 '2,991/sq\xa0mi\n',
 '1,155/km2\n',
 '36°00′N 115°02′W\ufeff / \ufeff36.00°N 115.03°W\ufeff / 36.00; -115.03\ufeff (Henderson)\n',
 'Riverside\n',
 'California\n',
 '314,998\n',
 '303,871\n',
 '+3.66%\n',
 '81.2\xa0sq\xa0mi\n',
 '210.3\xa0km2\n',
 '3,879/sq\xa0mi\n',
 '1,498/km2\n',
 '33°56′N 117°23′W\ufeff / \ufeff33.93°N 117.39°W\ufeff / 33.93; -117.39\ufeff (Riverside)\n',
 'Newark\n',
 'New Jersey\n',
 '311,549\n',
 '277,140\n',
 '+12.42%\n',
 '24.1\xa0sq\xa0mi\n',
 '62.4\xa0km2\n',
 '12,927/sq\xa0mi\n',
 '4,991/km2\n',
 '40°43′N 74°10′W\ufeff / \ufeff40.72°N 74.17°W\ufeff / 40.72; -74.17\ufeff (Newark)\n',
 'Saint Paul\n',
 'Minnesota\n',
 '311,527\n',
 '285,068\n',
 '+9.28%\n',
 '52.0\xa0sq\xa0mi\n',
 '134.7\xa0km2\n',
 '5,991/sq\xa0mi\n',
 '2,313/km2\n',
 '44°56′N 93°06′W\ufeff / \ufeff44.94°N 93.10°W\ufeff / 44.94; -93.10\ufeff (Saint Paul)\n',
 'Santa Ana\n',
 'California\n',
 '310,227\n',
 '324,528\n',
 '−4.41%\n',
 '27.3\xa0sq\xa0mi\n',
 '70.7\xa0km2\n',
 '11,364/sq\xa0mi\n',
 '4,388/km2\n',
 '33°44′N 117°53′W\ufeff / \ufeff33.73°N 117.88°W\ufeff / 33.73; -117.88\ufeff (Santa Ana)\n',
 'Cincinnati\n',
 'Ohio\n',
 '309,317\n',
 '296,943\n',
 '+4.17%\n',
 '77.8\xa0sq\xa0mi\n',
 '201.5\xa0km2\n',
 '3,976/sq\xa0mi\n',
 '1,535/km2\n',
 '39°08′N 84°30′W\ufeff / \ufeff39.14°N 84.50°W\ufeff / 39.14; -84.50\ufeff (Cincinnati)\n',
 'Irvine\n',
 'California\n',
 '307,670\n',
 '212,375\n',
 '+44.87%\n',
 '65.6\xa0sq\xa0mi\n',
 '169.9\xa0km2\n',
 '4,690/sq\xa0mi\n',
 '1,810/km2\n',
 '33°40′N 117°46′W\ufeff / \ufeff33.67°N 117.77°W\ufeff / 33.67; -117.77\ufeff (Irvine)\n',
 'Orlando\n',
 'Florida\n',
 '307,573\n',
 '238,300\n',
 '+29.07%\n',
 '110.6\xa0sq\xa0mi\n',
 '286.5\xa0km2\n',
 '2,781/sq\xa0mi\n',
 '1,074/km2\n',
 '28°25′N 81°16′W\ufeff / \ufeff28.41°N 81.27°W\ufeff / 28.41; -81.27\ufeff (Orlando)\n',
 'Pittsburgh\n',
 'Pennsylvania\n',
 '302,971\n',
 '305,704\n',
 '−0.89%\n',
 '55.4\xa0sq\xa0mi\n',
 '143.5\xa0km2\n',
 '5,469/sq\xa0mi\n',
 '2,112/km2\n',
 '40°26′N 79°58′W\ufeff / \ufeff40.43°N 79.97°W\ufeff / 40.43; -79.97\ufeff (Pittsburgh)\n',
 'St. Louis[m]\n',
 'Missouri\n',
 '301,578\n',
 '319,294\n',
 '−5.55%\n',
 '61.7\xa0sq\xa0mi\n',
 '159.8\xa0km2\n',
 '4,888/sq\xa0mi\n',
 '1,887/km2\n',
 '38°38′N 90°14′W\ufeff / \ufeff38.63°N 90.24°W\ufeff / 38.63; -90.24\ufeff (St. Louis)\n',
 'Greensboro\n',
 'North Carolina\n',
 '299,035\n',
 '269,666\n',
 '+10.89%\n',
 '129.6\xa0sq\xa0mi\n',
 '335.7\xa0km2\n',
 '2,307/sq\xa0mi\n',
 '891/km2\n',
 '36°05′N 79°49′W\ufeff / \ufeff36.09°N 79.82°W\ufeff / 36.09; -79.82\ufeff (Greensboro)\n',
 'Jersey City\n',
 'New Jersey\n',
 '292,449\n',
 '247,597\n',
 '+18.11%\n',
 '14.7\xa0sq\xa0mi\n',
 '38.1\xa0km2\n',
 '19,894/sq\xa0mi\n',
 '7,681/km2\n',
 '40°43′N 74°04′W\ufeff / \ufeff40.71°N 74.06°W\ufeff / 40.71; -74.06\ufeff (Jersey City)\n',
 'Anchorage[q]\n',
 'Alaska\n',
 '291,247\n',
 '291,826\n',
 '−0.20%\n',
 '1,706.8\xa0sq\xa0mi\n',
 '4,420.6\xa0km2\n',
 '171/sq\xa0mi\n',
 '66/km2\n',
 '61°10′N 149°17′W\ufeff / \ufeff61.17°N 149.28°W\ufeff / 61.17; -149.28\ufeff (Anchorage)\n',
 'Lincoln\n',
 'Nebraska\n',
 '291,082\n',
 '258,379\n',
 '+12.66%\n',
 '97.7\xa0sq\xa0mi\n',
 '253.0\xa0km2\n',
 '2,979/sq\xa0mi\n',
 '1,150/km2\n',
 '40°49′N 96°41′W\ufeff / \ufeff40.81°N 96.68°W\ufeff / 40.81; -96.68\ufeff (Lincoln)\n',
 'Plano\n',
 'Texas\n',
 '285,494\n',
 '259,841\n',
 '+9.87%\n',
 '71.7\xa0sq\xa0mi\n',
 '185.7\xa0km2\n',
 '3,982/sq\xa0mi\n',
 '1,537/km2\n',
 '33°03′N 96°44′W\ufeff / \ufeff33.05°N 96.74°W\ufeff / 33.05; -96.74\ufeff (Plano)\n',
 'Durham\n',
 'North Carolina\n',
 '283,506\n',
 '228,330\n',
 '+24.17%\n',
 '112.8\xa0sq\xa0mi\n',
 '292.2\xa0km2\n',
 '2,513/sq\xa0mi\n',
 '970/km2\n',
 '35°59′N 78°54′W\ufeff / \ufeff35.98°N 78.90°W\ufeff / 35.98; -78.90\ufeff (Durham)\n',
 'Buffalo\n',
 'New York\n',
 '278,349\n',
 '261,310\n',
 '+6.52%\n',
 '40.4\xa0sq\xa0mi\n',
 '104.6\xa0km2\n',
 '6,890/sq\xa0mi\n',
 '2,660/km2\n',
 '42°53′N 78°51′W\ufeff / \ufeff42.89°N 78.85°W\ufeff / 42.89; -78.85\ufeff (Buffalo)\n',
 'Chandler\n',
 'Arizona\n',
 '275,987\n',
 '236,123\n',
 '+16.88%\n',
 '65.3\xa0sq\xa0mi\n',
 '169.1\xa0km2\n',
 '4,226/sq\xa0mi\n',
 '1,632/km2\n',
 '33°17′N 111°51′W\ufeff / \ufeff33.28°N 111.85°W\ufeff / 33.28; -111.85\ufeff (Chandler)\n',
 'Chula Vista\n',
 'California\n',
 '275,487\n',
 '243,916\n',
 '+12.94%\n',
 '49.6\xa0sq\xa0mi\n',
 '128.5\xa0km2\n',
 '5,554/sq\xa0mi\n',
 '2,144/km2\n',
 '32°37′N 117°01′W\ufeff / \ufeff32.62°N 117.01°W\ufeff / 32.62; -117.01\ufeff (Chula Vista)\n',
 'Toledo\n',
 'Ohio\n',
 '270,871\n',
 '287,208\n',
 '−5.69%\n',
 '80.5\xa0sq\xa0mi\n',
 '208.5\xa0km2\n',
 '3,365/sq\xa0mi\n',
 '1,299/km2\n',
 '41°40′N 83°35′W\ufeff / \ufeff41.66°N 83.58°W\ufeff / 41.66; -83.58\ufeff (Toledo)\n',
 'Madison\n',
 'Wisconsin\n',
 '269,840\n',
 '233,209\n',
 '+15.71%\n',
 '79.6\xa0sq\xa0mi\n',
 '206.2\xa0km2\n',
 '3,390/sq\xa0mi\n',
 '1,310/km2\n',
 '43°05′N 89°25′W\ufeff / \ufeff43.08°N 89.42°W\ufeff / 43.08; -89.42\ufeff (Madison)\n',
 'Gilbert[r]\n',
 'Arizona\n',
 '267,918\n',
 '208,453\n',
 '+28.53%\n',
 '68.6\xa0sq\xa0mi\n',
 '177.7\xa0km2\n',
 '3,906/sq\xa0mi\n',
 '1,508/km2\n',
 '33°19′N 111°44′W\ufeff / \ufeff33.31°N 111.74°W\ufeff / 33.31; -111.74\ufeff (Gilbert)\n',
 'Reno\n',
 'Nevada\n',
 '264,165\n',

In [144]:
# since they where scrape in order along each rows  for each columns in this list, simple math to get 
# everything group up together. ex the first data containing City is 10 value away from the next city value.
# with this in mind using indexing
cities = [city.replace('\n','') for city in infos[0::10]]
States = [state.replace('\n','') for state in infos[1::10]]
twentycensus = [census.replace('\n','') for census in infos[2::10]]  
tencensus = [census.replace('\n','') for census in infos[3::10]] 
change = [change.replace('\n','') for change in infos[4::10]] 
twentyLandAsq = [Land.replace('\n','') for Land in infos[5::10]] 
twentyLandAkm = [Land.replace('\n','') for Land in infos[6::10]] 
twentypopdensitysq = [density.replace('\n','') for density in infos[7::10]]
twentypopdensitykm = [density.replace('\n','') for density in infos[8::10]] 
location = [location.replace('\n','') for location in infos[9::10]] 

# check the length( this will tell you if you made any errors as you can't make dataframws with unequal lengths)
look =[cities, States, twentycensus, tencensus, change, twentyLandAsq,twentyLandAkm,twentypopdensitysq ,
twentypopdensitykm ,location]

for i in look:
    print(len(i))

In [154]:
# create a Dictionary

CitiesPop = {'City' : cities,
'State' : States,
'2020_Census': twentycensus,
'2010_Census': tencensus,
'Change': change,
'2020_l_area_sq' : twentyLandAsq,
'2020_l_area_km' : twentyLandAkm,
'2020_Pdensity_sq' : twentypopdensitysq,
'2020_Pdensity_km' :twentypopdensitykm ,
'Location' : location}



Cities_df = pd.DataFrame(CitiesPop)  


Cities_df.to_csv('United States cities by population.csv',index=False)

In [152]:
Cities_df.head()

,City,State,2020_Census,2010_Census,Change,2020_l_area_sq,2020_l_area_km,2020_Pdensity_sq,2020_Pdensity_km,Location
0,New York[d],New York,"8,804,190","8,175,133",+7.69%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2",40°40′N 73°56′W﻿ / ﻿40.66°N 73.93°W﻿ / 40.66; ...
1,Los Angeles,California,"3,898,747","3,792,621",+2.80%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2",34°01′N 118°25′W﻿ / ﻿34.01°N 118.41°W﻿ / 34.01...
2,Chicago,Illinois,"2,746,388","2,695,598",+1.88%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2",41°50′N 87°41′W﻿ / ﻿41.83°N 87.68°W﻿ / 41.83; ...
3,Houston,Texas,"2,304,580","2,099,451",+9.77%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2",29°47′N 95°23′W﻿ / ﻿29.78°N 95.39°W﻿ / 29.78; ...
4,Phoenix,Arizona,"1,608,139","1,445,632",+11.24%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2",33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W﻿ / 33.57...